<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>footer</title>
</head>

<body>


  <footer>

    <section class="links py-10 pt-20 bg-nav-color">

      <div class="container mx-auto ">
        <div class="flex space-x-40">

          <div class="location w-1/4 p-3">
            <div class="location-body">
              <h3 class="text-center text-3xl text-white  my-3 font-medium">LOCATION</h3>
              <p class="text-center text-white"><span>2215 John Daniel Drive</span></p>
              <p class="text-center text-white"><span>Clark, MO 65243</span></p>
            </div>
          </div>


          <div class="Social-links  w-1/4 p-3">
            <div class="Social-body">
              <h3 class="text-center text-3xl text-white  my-3 font-medium">AROUND THE WEB</h3>
              <ul class="social-icons flex justify-center items-center">

                <li class="icon">
                  <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="icon">
                  <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li class="icon">
                  <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="icon">
                  <a href="https://google.com" target="_blank"><i class="fa-solid fa-globe"></i></a>
                </li>
              </ul>
            </div>
          </div>


          <div class="aboutFreelacing  w-1/4 p-3">
            <div class="freelancing-body">
              <h3 class="text-center text-3xl text-white  my-3 font-medium ">ABOUT FREELANCER</h3>
              <p class="text-center text-white">Freelance is a free to use, licensed Bootstrap theme created by Route
              </p>
            </div>
          </div>
        </div>

      </div>

    </section>


    <section class="copyRight text-center text-white bg-footer-color py-7">
      <p><span>Copyright © Your Website 2021</span></p>
    </section>


  </footer>
</body>

</html>
