<main class="bg-body-whit" style="margin-top: 86px; min-height: calc(-106px + 100vh);">
  <div class="container mx-auto  flex justify-center items-center ">

    <div class="w-fit position-absolute text-center">
      <h1 class=" font-bold text-4xl pt-10 pb-4 text-nav-color">CONTACT SECTION</h1>
      <div class="decor flex justify-center items-center py-2">
        <div class="line me-3 bg-nav-color"></div>
        <i class="fa-solid fa-star text-nav-color"></i>
        <div class="line ms-3 bg-nav-color"></div>
      </div>

    </div>

  </div>

  <div class="">
    <form action="" class="w-1/2 p-3 mx-auto mt-5 ng-valid ng-dirty ng-touched">

      <label for="username" class="relative top-0 __top ps-3" >username : </label>
      <input id="username" placeholder="userName" name="username" type="text" class="bg-body-whit focus:outline-none form-control border-0 border-b-2 py-6 px-2 relative ng-valid ng-dirty ng-touched">

      <label for="username" class="relative top-6 ps-3" >username : </label>
      <input id="username" placeholder="userName" name="username" type="text" class="bg-body-whit focus:outline-none form-control border-0 border-b-2 py-6 px-2 relative ng-valid ng-dirty ng-touched">

      <label for="username" class="relative top-6 ps-3" >username : </label>
      <input id="username" placeholder="userName" name="username" type="text" class="bg-body-whit focus:outline-none form-control border-0 border-b-2 py-6 px-2 relative ng-valid ng-dirty ng-touched">

      <label for="username" class="relative top-6 ps-3" >username : </label>
      <input id="username" placeholder="userName" name="username" type="text" class="bg-body-whit focus:outline-none form-control border-0 border-b-2 py-6 px-2 relative ng-valid ng-dirty ng-touched">

      <button class="my-10 p-2 rounded-md text-white bg-body-color">send Message</button>
    </form>
  </div>


</main>
